body {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    color: #1a1a1a !important;
}

.btn-dark {
    background-color: #1a1a1a;
    border: none;
}

.btn-outline-dark:hover {
    background-color: #1a1a1a;
    color: #fff;
}

img {
    max-height: 400px;
    object-fit: cover;
}
